body {
    margin: 22px;
    font-family: "Arial", "Sans-serif";
    font-weight: 400;
  }

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 44px);
  }

.top-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
}

.small-title {
    font-size: 22px;
    font-weight: 600;
    cursor: default;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
  
span {
    letter-spacing: -0.3em;
}

span:nth-child(1),
span:nth-child(4) {
    color: #4285f4;
}

span:nth-child(2),
span:nth-child(6) {
    color: #ea4335;
}

span:nth-child(3) {
    color: #fbbc05;
}

span:nth-child(5) {
    color: #34a853;
}

a {
    padding-left: 18px;
    text-decoration: none;
    color: #3c4043;
    font-size: 13px;
  }

a:hover {
    text-decoration: underline;
}

.second-container{
    margin: 25px -22px 6px -22px;
    border-bottom: 1px#dfdfdf solid;
}

#header{
    margin-left: 44px;
    padding-bottom: 6px;
    color: #d93025;
    font-size: 20px;
}

.main-content{
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 44px 22px 0 22px;
}

#text-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    margin:0;
    padding:0;
}

.forms-container{
    display: flex;
    flex-direction: column;
}

.label{
    display: flex;
    align-items: center;
    width: 180px;
    font-size: 13px;
    color: #222222;
    font-weight: 400;
    height: 27px;
}

.input-container{
    width: 37vw;
}

.input{
    width: 100%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
}

.form_{
    display: flex;
    margin-top: 14px;
}

#advanced-button{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 30px;
    border-radius: 2px;
    min-width: 120px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    margin-left: calc(66px + 37vw);
    margin-top: 24px;
}

#advanced-button:hover{
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #2969cf;
}